https://portal.azure.com/#blade/HubsExtension/BrowseAll/resourceType/microsoft.resources%2Fresources
https://management.azure.com/subscriptions/13c950d9-dcf2-4e53-a1d8-2cafe8b92f3c/resourceGroups/automationdeployment-rg/providers/Microsoft.Web/serverfarms/ASP-automationdeploymentrg-a0f0?api-version=2018-02-01
https://management.azure.com/subscriptions/13c950d9-dcf2-4e53-a1d8-2cafe8b92f3c/resources?api-version=2017-05-10
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5CV7NS83P0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5CV7NS83P0');
</script>